@import "tailwindcss";

@font-face {
  font-family: "JetBrainsMono";
  src: url("/fonts/JetBrainsMono-Medium.ttf") format("truetype");
}

:root {
  --color-primary: #272727;
  --color-secondary: #808080;
  --color-white: #F5F4FF;
}

.dashed-custom {
  border-style: dashed;
  border-color: #272727;
  border: 1px solid;
  border-image: repeating-linear-gradient(45deg, #272727 0 10px, transparent 10px 20px) 1;
}

@keyframes marquee {
  0% {
    transform: translateX(0%);
  }
  100% {
    transform: translateX(-50%);
  }
}

.marquee-wrapper {
  overflow: hidden;
  white-space: nowrap;
  width: 100%;
  position: relative;
}

.marquee-content {
  display: inline-block;
  animation: marquee 10s linear infinite;
}

/* Sembunyikan scrollbar di semua browser */
.scrollbar-hidden {
  scrollbar-width: none; /* Firefox */
  -ms-overflow-style: none;  /* IE & Edge */
}
.scrollbar-hidden::-webkit-scrollbar {
  display: none; /* Chrome, Safari, Opera */
}

