@import "tailwindcss";

@font-face {
  font-family: "JetBrainsMono";
  src: url("/fonts/JetBrainsMono-Medium.ttf") format("truetype");
}

:root {
  --color-primary: #272727;
  --color-secondary: #808080;
  --color-white: #F5F4FF;
}

.dashed-custom {
  border-style: dashed;
  border-color: #272727;
  border: 1px solid;
  border-image: repeating-linear-gradient(45deg, #272727 0 10px, transparent 10px 20px) 1;
}

@keyframes marquee {
  0% {
    transform: translateX(0%);
  }
  100% {
    transform: translateX(-50%);
  }
}

.paragraph span {
  opacity: 0;
  display: block;
  animation: reveal 1s forwards;
}

@keyframes reveal {
  from {
    transform: translateY(20px);
    opacity: 0;
  }
  to {
    transform: translateY(0);
    opacity: 1;
  }
}


.marquee-wrapper {
  overflow: hidden;
  white-space: nowrap;
  width: 100%;
  position: relative;
}

.marquee-content {
  display: inline-block;
  animation: marquee 10s linear infinite;
}

/* Sembunyikan scrollbar di semua browser */
.scrollbar-hidden {
  scrollbar-width: none; /* Firefox */
  -ms-overflow-style: none;  /* IE & Edge */
}
.scrollbar-hidden::-webkit-scrollbar {
  display: none; /* Chrome, Safari, Opera */
}

@keyframes plane-fly {
  0% {
    transform: translateX(-50%) translateY(-50%) translateX(-50px);
    opacity: 0;
  }
  30% {
    opacity: 1;
  }
  70% {
    opacity: 1;
  }
  100% {
    transform: translateX(150%) translateY(-50%);
    opacity: 0;
  }
}

.animate-plane-fly {
  animation: plane-fly 2s ease-in-out forwards;
}

.stroke-text {
  -webkit-text-stroke: 0.2px #272727;
}

/* globals.css */
.no-scrollbar::-webkit-scrollbar {
  display: none;
}
.no-scrollbar {
  -ms-overflow-style: none;
  scrollbar-width: none;
}
